html, body, #root {
  height: 100%;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  transition: all .2s;
}