@import "~@/mixin.less";

.page {
  //max-width: 900px;
  width: 100%;
  overflow-x: hidden;
  margin-right: auto;
  margin-left: auto;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  width: 1424px;
  margin: 0 auto;

  .video {
    margin-bottom: 40px;
    margin-left: 8px;
    margin-right: 8px;
  }
}

